*.3dsx
*.elf
*.smdh
*.bnr
*.cia

*.nacp
*.nro
*.nso
*.pfs0

*.rpx

*.o 

bin/
.vscode/
build/

test/testrunner.a
test/*.o
test/lib/
test/include/

libs/lua-5.3.2/src/*.o
libs/lua-5.3.2/src/liblua.a
libs/z8lua/*.o
libs/z8lua/liblua.a
platform/SDL2Desktop/obj/*.o
platform/SDL2Desktop/*.d
platform/SDL2Desktop/fake08
platform/SDL2Desktop/FAKE08
pico.log
platform/vita/eboot.bin
platform/vita/*.velf
platform/vita/*.vpk
platform/vita/param.sfo
platform/SDL1_2/FAKE08
platform/bittboy/FAKE08
