name: fake-08

on:
  push:
    branches: '**'
  pull_request:
    branches: [ $default-branch ]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules : recursive

      - name: Build
        run: make tests
  
  xbox-series-libretro:
    name: Xbox Series Libretro
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules : recursive

      - uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          update: true
          install: git make mingw-w64-ucrt-x86_64-gcc

      - name: Build
        run: cd platform/libretro && make

      - uses: actions/upload-artifact@v4
        with:
          name: Xbox-Series-libretro
          path: |
            platform/libretro/fake08_libretro.dll

  threeDS:
    name: 3DS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules : recursive

      - name: Build
        run: |
          docker run -e ENABLE_COMPATIBILITY_REPORTING -v $GITHUB_WORKSPACE:/build_dir devkitpro/devkitarm /bin/bash -ex /build_dir/.github/workflows/build3ds.sh
      
      - uses: actions/upload-artifact@v4
        with:
          name: Nintendo 3DS
          path: |
            platform/3ds/*.3dsx
            platform/3ds/*.cia

  switch-standalone:
    name: Switch
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules : recursive

      - name: Build
        run: |
          docker run -e ENABLE_COMPATIBILITY_REPORTING -v $GITHUB_WORKSPACE:/build_dir devkitpro/devkita64 /bin/bash -ex /build_dir/.github/workflows/buildSwitch.sh
      - uses: actions/upload-artifact@v4
        with:
          name: Nintendo Switch
          path: |
            platform/switch/*.nro

  wiiu-standalone:
    name: WiiU
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules : recursive

      - name: Build
        run: |
          docker run -e ENABLE_COMPATIBILITY_REPORTING -v $GITHUB_WORKSPACE:/build_dir jondbell/devkitppc-wiiu-sdl2 /bin/bash -ex /build_dir/.github/workflows/buildWiiU.sh
      - uses: actions/upload-artifact@v4
        with:
          name: Nintendo Wii U
          path: |
            platform/wiiu/*.rpx

  vita-standalone:
    name: Vita
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules : recursive

      - name: Build
        run: |
          docker run -e ENABLE_COMPATIBILITY_REPORTING -v $GITHUB_WORKSPACE:/build_dir gnuton/vitasdk-docker:20220413 /bin/sh -ex /build_dir/.github/workflows/buildVita.sh
      - uses: actions/upload-artifact@v4
        with:
          name: PS Vita
          path: |
            platform/vita/*.vpk

  bittboy-standalone:
    name: Bittboy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules : recursive

      - name: Build
        run: |
          docker run -e ENABLE_COMPATIBILITY_REPORTING -v $GITHUB_WORKSPACE:/build_dir mcejp/arm-miyoo-linux-musleabi-gcc /bin/sh -ex /build_dir/.github/workflows/buildBittboy.sh
      - uses: actions/upload-artifact@v4
        with:
          name: Bittboy
          path: |
            platform/bittboy/FAKE08
            platform/bittboy/pico8.elf

  miyoomini-standalone:
    name: MiyooMini
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules : recursive

      - name: Build
        run: |
          docker run -e ENABLE_COMPATIBILITY_REPORTING -v $GITHUB_WORKSPACE:/build_dir jondbell/union-miyoomini-toolchain /bin/sh -ex /build_dir/.github/workflows/buildMiyooMini.sh
      - uses: actions/upload-artifact@v4
        with:
          name: MiyooMini
          path: |
            platform/miyoomini/FAKE08

  opendingux-standalone:
    name: Opendingux
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules : recursive

      - name: Build
        run: |
          docker run -e ENABLE_COMPATIBILITY_REPORTING -v $GITHUB_WORKSPACE:/build_dir jondbell/gcw0 /bin/sh -ex /build_dir/.github/workflows/buildGcw0.sh
      - uses: actions/upload-artifact@v4
        with:
          name: Gcw0
          path: |
            platform/gcw0/fake08_gcw0.opk

  android-libretro:
    name: android-libretro
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules : recursive

      - name: Setup NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r21e

      - name: Build
        run: cd platform/libretro/jni && ndk-build

      - name: Rename Artifacts
        run: | 
          cp platform/libretro/libs/arm64-v8a/libfake08.so platform/libretro/libs/libfake08-arm64.so && 
          cp platform/libretro/libs/armeabi-v7a/libfake08.so platform/libretro/libs/libfake08-arm32.so

      - uses: actions/upload-artifact@v4
        with:
          name: Android-Libretro
          path: |
            platform/libretro/libs/libfake08-arm64.so
            platform/libretro/libs/libfake08-arm32.so
            platform/libretro/fake08_libretro.info
  
  miyoomini-libretro:
    name: MiyooMini-libretro
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules : recursive

      - name: Build
        run: |
          docker run -e ENABLE_COMPATIBILITY_REPORTING -v $GITHUB_WORKSPACE:/build_dir jondbell/union-miyoomini-toolchain /bin/sh -ex /build_dir/.github/workflows/buildMiyooMini-libretro.sh

      - uses: actions/upload-artifact@v4
        with:
          name: MiyooMini-libretro
          path: |
            platform/libretro/fake08_libretro_miyoomini.so
            platform/libretro/fake08_libretro.info
            platform/libretro/miyoomini/launch.sh

  opendingux-libretro:
    name: GCW0-libretro
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules : recursive

      - name: Build
        run: |
          docker run -e ENABLE_COMPATIBILITY_REPORTING -v $GITHUB_WORKSPACE:/build_dir jondbell/gcw0 /bin/sh -ex /build_dir/.github/workflows/buildGcw0-libretro.sh

      - uses: actions/upload-artifact@v4
        with:
          name: GCW0-libretro
          path: |
            platform/libretro/fake08_libretro_gcw0.so
            platform/libretro/fake08_libretro.info

  switch-libretro:
    name: switch-libretro
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules : recursive

      - name: CheckoutLibretro
        uses: actions/checkout@v4
        with:
          repository: libretro/RetroArch
          path: retroarch

      - name: Build
        run: |
          docker run -e ENABLE_COMPATIBILITY_REPORTING -v $GITHUB_WORKSPACE:/build_dir devkitpro/devkita64 /bin/bash -ex /build_dir/.github/workflows/buildSwitch-libretro.sh
      - uses: actions/upload-artifact@v4
        with:
          name: switch-libretro
          path: |
            platform/libretro/fake08_libretro.info
            retroarch/fake08_libretro_libnx.nro
